* {
    margin: 15px;
}

.title-image-description, .home-page {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.home-page-content {
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: xx-large;
}

.ingredients, .directions {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* #all-page-content {
    border: black solid;
    background-color: gray;
    padding: 10px;
} */

.home-button {
    text-align: center;
}