.home-page, .title-image-description{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.title-image-description {
    text-align: center;
}

.ingredients-directions {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#page-content {
    border-style: double;
}

#page-content {
    background-color: blanchedalmond;
}